In [2]:
# manual cal

pop_dat=[150,160,170,180,190]

# sample data

sample_dat=[157,172,180]

# caluclate population mean

pop_mean=sum(pop_dat)/len(pop_dat)

print(f'population mean is: {pop_mean}') #pop_mean


# calculate sample mean

sample_mean=sum(sample_dat)/len(sample_dat)

print(f'sample mean is: {sample_mean}') #sample_mean

population mean is: 170.0
sample mean is: 169.66666666666666

In [3]:
# using  numpy

#define dataset

import numpy as np

data=[85,90,78,92,88]

arith_mean=np.mean(data)

print(f'Arithmetic mean is: {arith_mean}')

Arithmetic mean is: 86.6

In [4]:
# using statistics

import statistics as sta

data=[85,90,78,92,88]

arith_mean=sta.mean(data)

print(f'Arithmetic mean is: {arith_mean}')

Arithmetic mean is: 86.6

In [6]:
#Dataset lets mean 

import seaborn as sns
import numpy as np

# load the iris dataset
iris = sns.load_dataset("iris")

print(iris)

iris.head()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
import seaborn as sns
import numpy as np

# load the iris dataset
iris = sns.load_dataset("iris")

#calculate the mean for 'speal_length' colun

mean_sepal_length=np.mean(iris['sepal_length'])

print(f'The mean for sepal_length is: {mean_sepal_length}')

The mean for sepal_length is: 5.843333333333334

In [10]:
# using statistic module lets find median

import statistics as stat

data=[20,34,56,34,67] #[20,34,34,56,67]
me=stat.median(data)
me

34

In [13]:
# using pandas

import pandas as pd

df=pd.DataFrame({'age': [20,34,56,34,67]})
med=df['age'].median()
med

34.0

In [18]:
# mode using statistics
data=[85,90,90,95,85,85,96,80,90]

mod=stat.multimode(data)
mod

[85, 90]

In [19]:
data=[4,5,6,6,7,7,8,8,9]

mod=stat.multimode(data)
mod

[6, 7, 8]

In [20]:
# using scipy

from scipy import stats

data=[85,90,90,95,85,85,96,80,90]

mod=stats.mode(data)
mod

ModeResult(mode=array([85]), count=array([3]))

In [21]:
# variance using numpy

import numpy as np

# sample variance
sample_var=np.var(data,ddof=1)
sample_var

26.77777777777778